<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Header</title>
  <link rel="stylesheet" href="./header.css">
</head>

<body>
  <header>
    <div class="header-content">
        <div class="headerCSS">
            <div class="iconCSS">
              <a href="../../index.html" target="_top"><img src="../../img/icons/icon.png" height="100px" width="100px"></img></a>
            </div>
            <div class="headerName">
            <h1>Velocity</h1>
            <h4>Tours and Travels</h4>
            </div>
          
        </div>
      <nav>
        <ul>
            <li><a href = "../../html/About/about.html" target="_top">About</a></li>
            <li><a href = "../../html/Blog/blog.html" target="_top">Blog</a></li>
            <li><a href = "../../html/Contact/contact.html" target="_top">Contact</a></li>
            <li><a href = "../../html/Destinations/destinations.html" target="_top">Destinations</a></li>
            <li><a href = "../../html/Forum/forum.html" target="_top">Forum</a></li>                
            <li><a href = "../../html/Packages/packages.html" target="_top">Packages</a></li>              
            <li><a href = "../../html/Support/support.html" target="_top">Support</a></li>
        </ul>
      </nav>
    </div>
  </header>
  
</body>

</html>
