body {
  margin: 0;
  padding: 0;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social-icons {
  font-size: 24px;
  width: 30%;

}

.social-icons a {
  color: #fff;
  margin-right: 25px;
}

.social-icons a:last-child {
  margin-right: 0;
}
.copyrightCSS{
  width: 70%;
  padding-left: 20%;
}

@media only screen and (max-width : 480px){
  .social-icons a {
  color: #fff;
  margin-right: 10px;
}
}